<!DOCTYPE html>
<html>

<head>
    <title>Help</title>
    <link rel="icon" href="/img/photo.jpg" />
    <link rel="stylesheet" href="/css/style.css" />
</head>

<body>
    <div class="main-content">
        {{>header}}
        <img class="portrait" src="/img/photo.jpg" alt="my photo" />
    </div>
    {{>footer}}
</body>

</html>